.coverWrapper {
    position: relative;
    overflow: hidden;
    display: block;
  


    .cover {
        width: 100%;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        border-radius: var(--radius-sm);
        border: 1px solid var(--border-color);
        background-color: var(--accent-light);
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        height: 100%;

        transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
    }


    &.blur {
        background-color: #f0f0f0;

        .cover {
            filter: blur(10px);
            transform: scale(1.05);
        }
    }
}